body{
    background-color: #1b1b1b;
    color:aliceblue;
}

.toplink{
    color:grey;
    cursor:pointer;
    padding-left: 10px;
}
.firstline{
    background:rgba(7, 11, 52, 0.304);
    border: none;
    margin-bottom: 0;
}
.bottomlink{
    display: flex;
    justify-content:space-between;
    margin-left:100px;
    margin-right:100px;
    padding-bottom:100px;
    padding-top:100p;
}